<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="assets/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="main.css">
    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
  </head>
  <body>
    <div class="container">

      {{> includes/profile-header
      
      }}

      {{#> tab-content-block}}
        <div class="tab-content">
          <div class="tab-content__title-wrapper"> 
            <h3 class="tab-content__title">           
              {{#if title}}
                {{title}}
              {{else}}
                Base Page Title
              {{/if}}
            </h3>
          </div>
        </div>
      {{/tab-content-block}}

    </div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="main.js"></script>
    {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
  </body>
</html>
