<div class="tab-content">
  <div class="tab-content__title-wrapper">
    <h3 class="tab-content__title">
      About
    </h3>
    <div class="tab-content__mobile-edit-actions tab-content__mobile-edit-actions--default hidden-t hidden-d">
      <button class="tab-content__mobile-edit-icon tab-content__mobile-edit-btn-edit">
        <i class="ion-edit"></i>
      </button>
      <div class="tab-content__mobile-edit-btns">
        <button class="tab-content__mobile-edit-btn tab-content__mobile-edit-btn-cancel">CANCEL</button>
        <button class="tab-content__mobile-edit-btn tab-content__mobile-edit-btn-save">SAVE</button>
      </div>
    </div>
  </div>
  {{!-- Mobile Version --}}
  <div class="tab-content-about tab-content-about--default hidden-d hidden-t">
    <div class="tab-content-about--editing-hidden">
      <div class="tab-content-about__name">
        <span id="input-value-mobile-firstname">Jessica</span>
        <span id="input-value-mobile-lastname">Parker</span>
      </div>
      <div class="tab-content-about__info-rows">
        <div class="tab-content-about__info-row">
          <div class="tab-content-about__info-icon">
            <i class="ion-android-globe"></i>
          </div>
          <div class="tab-content-about__info-value">
            <a href="javascript:void(0)" class="tab-content-about__info-value-link" id="input-value-mobile-website">
              www.seller.com
            </a>
          </div>
        </div>
        <div class="tab-content-about__info-row">
          <div class="tab-content-about__info-icon">
            <i class="ion-ios-telephone-outline"></i>
          </div>
          <div class="tab-content-about__info-value">
            <a href="javascript:void(0)" class="tab-content-about__info-value-link" id="input-value-mobile-phone">
              (949) 325 - 68594
            </a>
          </div>
        </div>
        <div class="tab-content-about__info-row">
          <div class="tab-content-about__info-icon">
            <i class="ion-ios-home-outline"></i>
          </div>
          <div class="tab-content-about__info-value">
            <span class="tab-content-about__info-value-span" id="input-value-mobile-address">
              Newport Beach, CA
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content-about--default-hidden">
      <div class="material-input-group">
        <input type="text" class="material-input-group__input" required name="input-value-mobile-firstname">
        <span class="material-input-group__highlight"></span>
        <span class="material-input-group__bar"></span>
        <label class="material-input-group__label">FIRST NAME</label>
      </div>
      <div class="material-input-group">
        <input type="text" class="material-input-group__input" required name="input-value-mobile-lastname">
        <span class="material-input-group__highlight"></span>
        <span class="material-input-group__bar"></span>
        <label class="material-input-group__label">LAST NAME</label>
      </div>
      <div class="material-input-group">
        <input type="text" class="material-input-group__input" required name="input-value-mobile-website">
        <span class="material-input-group__highlight"></span>
        <span class="material-input-group__bar"></span>
        <label class="material-input-group__label">WEBSITE</label>
      </div>
      <div class="material-input-group">
        <input type="text" class="material-input-group__input" required name="input-value-mobile-phone">
        <span class="material-input-group__highlight"></span>
        <span class="material-input-group__bar"></span>
        <label class="material-input-group__label">PHONE NUMBER</label>
      </div>
      <div class="material-input-group">
        <input type="text" class="material-input-group__input" required name="input-value-mobile-address">
        <span class="material-input-group__highlight"></span>
        <span class="material-input-group__bar"></span>
        <label class="material-input-group__label">CITY, STATE &AMP; ZIP</label>
      </div>
    </div>
  </div>
  {{!-- Desktop Version --}}
  <div class="tab-content-about hidden-m">

    <div class="tab-content-about__info-rows">
      <div class="tab-content-about__info-row">
        <div class="tab-content-about__info-icon-value-wrapper">
          <div class="tab-content-about__info-value tab-content-about__info-value--bold">
            <span class="tab-content-about__info-value-span tab-content-about__info-value-span--font-size-13" id="input-value-desktop-name">
              <span id="input-value-desktop-firstname">Jessica</span>
              <span id="input-value-desktop-lastname">Parker</span>
            </span>
          </div>
        </div>
        <div class="tab-content-about__info-btn-edit" data-target="#input-value-desktop-name" data-type="name" data-label='["FIRST NAME", "LAST NAME"]'>
          <i class="ion-edit"></i>
        </div>
      </div>
      <div class="tab-content-about__info-row">
        <div class="tab-content-about__info-icon-value-wrapper">
          <div class="tab-content-about__info-icon">
            <i class="ion-android-globe"></i>
          </div>
          <div class="tab-content-about__info-value">
            <a href="javascript:void(0)" class="tab-content-about__info-value-link" id="input-value-desktop-website">
              www.seller.com
            </a>
          </div>
        </div>
        <div class="tab-content-about__info-btn-edit" data-target="#input-value-desktop-website" data-type="website" data-label="WEBSITE">
          <i class="ion-edit"></i>
        </div>
      </div>
      <div class="tab-content-about__info-row">
        <div class="tab-content-about__info-icon-value-wrapper">
          <div class="tab-content-about__info-icon">
            <i class="ion-ios-telephone-outline"></i>
          </div>
          <div class="tab-content-about__info-value">
            <a href="javascript:void(0)" class="tab-content-about__info-value-link" id="input-value-desktop-phone">
              (949) 325 - 68594
            </a>
          </div>
        </div>
        <div class="tab-content-about__info-btn-edit" data-target="#input-value-desktop-phone" data-type="phone" data-label="PHONE NUMBER">
          <i class="ion-edit"></i>
        </div>
      </div>
      <div class="tab-content-about__info-row">
        <div class="tab-content-about__info-icon-value-wrapper">
          <div class="tab-content-about__info-icon">
            <i class="ion-ios-home-outline"></i>
          </div>
          <div class="tab-content-about__info-value">
            <span class="tab-content-about__info-value-span" id="input-value-desktop-address">
              Newport Beach, CA
            </span>
          </div>
        </div>
        <div class="tab-content-about__info-btn-edit" data-target="#input-value-desktop-address" data-type="address" data-label="CITY, STATE &AMP; ZIP">
          <i class="ion-edit"></i>
        </div>
      </div>
    </div>
  </div>
</div>