<div class="profile-header">
  <div class="profile-header__top-nav">
    <a class="profile-header__top-nav__link btn-primary btn-primary--outline profile-header__top-nav__link--logout" href="javascript:void(0)">
      LOG OUT
      <div class="profile-header__top-nav__logout-tooltip">Logout Tooltip</div>
    </a>
  </div>
  <div class="profile-header__upload-cover">
    <button class="profile-header__upload-cover-btn">
      <i class="ion-camera profile-header__upload-cover-btn-icon"></i>
      <span class="profile-header__upload-cover-btn-text">Upload Cover Image</span>
    </button>
  </div>
  <div class="profile-header__profile">
    <div class="profile-header__profile-pic" style="background-image: url(assets/images/profile_image.jpg)">
    </div>
    <div class="profile-header__name-contact-wrapper">
      <div class="profile-header__profile-name">
        Jessica Parker
      </div>
      <div class="profile-header__contact">
        <div class="profile-header__contact-child profile-header__phone">
          <i class="profile-header__contact-icon ion-ios-telephone-outline"></i>
          <span>(949) 325 - 68594</span>
        </div>
        <div class="profile-header__contact-child profile-header__address">
          <i class="profile-header__contact-icon ion-ios-location-outline"></i>
          <span>Newport Beach, CA</span>
        </div>
      </div>
    </div>
    <div class="profile-header__review-wrapper">
      <div class="profile-header__ratings">
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star"></i>
        <i class="ion-ios-star-outline"></i>
      </div>
      <div class="profile-header__review">
        <span class="profile-header__count profile-header__review-count">6</span>
        <span>Reviews</span>
      </div>
    </div>
    <div class="profile-header__followers-wrapper">
      <button class="profile-header__follow-button">
        <i class="ion-plus-circled"></i>
      </button>
      <span class="profile-header__count profile-header__followers-count">15</span>
      <span>Followers</span>
      <div class="profile-header__followers-tooptip">
        Followers Tooptip
      </div>
    </div>
  </div>
  <div class="profile-header__nav clearfix">
    <div class="profile-header__nav-gradient-left hidden"></div>
    <div class="profile-header__nav-gradient-right hidden-d hidden-t"></div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/" class="profile-header__nav-link {{#ifEquals title " About
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        ABOUT
      </a>
    </div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/settings.html" class="profile-header__nav-link  {{#ifEquals title " Settings
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        SETTINGS
      </a>
    </div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/option1.html" class="profile-header__nav-link  {{#ifEquals title " Option1
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        OPTION1
      </a>
    </div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/option2.html" class="profile-header__nav-link  {{#ifEquals title " Option2
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        OPTION2
      </a>
    </div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/option3.html" class="profile-header__nav-link  {{#ifEquals title " Option3
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        OPTION3
      </a>
    </div>
    <div class="profile-header__nav-item profile-header__nav-item--visible">
      <a href="/option1.html" class="profile-header__nav-link  {{#ifEquals title " Option1
        "}} profile-header__nav-link--active {{/ifEquals}} ">
        OPTION4
      </a>
    </div>
    <div class="profile-header__nav-more hidden">
      <i class="ion-more"></i>
      <div class="profile-header__nav-more-dropdown">
        {{!-- example, should be JS generated --}}
        {{!-- <a class="profile-header__nav-more-dropdown__item">
          OPTION1
        </a> --}}
      </div>
    </div>
  </div>
</div>