.btn-primary {
    color: #fff;
    font-weight: 600;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid $primary-color;
    cursor: pointer;
    @include media(">=tablet") {
        font-size: 11px;
        background: $primary-color;
        border-radius: 3px;
    }
    &--outline {
        color: $primary-color;
        background: transparent;
        @include media(">=tablet") {
            border: 1px solid $primary-color;
        }
    }
    &--wide {
        padding-left: 18px;
        padding-right: 18px;
    }
}