/* 
Material Design Text Input
<div class="material-input-group">      
    <input type="text" class="material-input-group__input" required>
    <span class="material-input-group__highlight"></span>
    <span class="material-input-group__bar"></span>
    <label class="material-input-group__label">Name</label>
</div> 
*/

.material-input-group {
    position: relative;
    margin: 25px 0 35px;
    &:last-child {
        margin-bottom: 0;
    }
    &__input {
        font-size: 20px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $border-grey;
        box-sizing: border-box;
        color: $text-grey;
        &:focus {
            outline: none;
        }
        /* active state */
        &:focus~.material-input-group__label,
        &:valid~.material-input-group__label {
            top: -15px;
            font-size: 15px;
            color: $text-grey-lighter;
        }
        &:focus~.material-input-group__bar:before,
        &:focus~.material-input-group__bar:after {
            width: 50%;
        }
        &:focus~.material-input-group__highlight {
            animation: materialInputHighlighter 0.3s ease;
        }
    }
    &__label {
        color: $border-grey;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
    }
    &__bar {
        position: relative;
        display: block;
        width: 100%;
        &:before,
        &:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: $primary-color;
            transition: 0.2s ease all;
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
    }
    &__highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    &--tooltips#{&} {
        margin-top: 10px;
        margin-bottom: 20px;
        .material-input-group {
            &__label {
                font-size: 10px;
                color: $text-grey-lighter;
            }
            &__input {
                font-size: 14px;
                padding-bottom: 7px;
                padding-top: 15px;
            }
        }
    }
}

@keyframes materialInputHighlighter {
    from {
        background: $primary-color;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* 
Tooltip for input
<a class="input-tooltips" href="#">CSS Tooltips
<div class="input-tooltips__content">Tooltip</div></a>
 */

.input-tooltips {
    position: relative;
    display: inline;
    &__content {
        position: absolute;
        width: 230px;
        color: #000000;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        height: auto;
        line-height: 30px;
        text-align: center;
        visibility: hidden;
        border-radius: 0px;
        box-shadow: 0 0 40px rgba(0,0,0,0.25);
        padding: 10px 13px;
        box-sizing: border-box;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 13px;
            right: 100%;
            width: 0;
            height: 0;
        }
        &:before {
            margin-top: -12px;
            border-right: 12px solid #FFFFFF;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
        }
        &:after {
            margin-top: -8px;
            border-right: 8px solid #FFFFFF;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
    &:hover &__content,
    &--active &__content {
        visibility: visible;
        opacity: 1;
        left: 100%;
        top: 50%;
        margin-top: -15px;
        margin-left: 15px;
        z-index: 999;
    }
    &__btns {
        display: flex;
        justify-content: flex-start;
        line-height: normal;
        > :last-child {
            margin-left: 15px;
        }
    }
}