.profile-header {
    @include media(">=tablet") {
        background: #fff;
        margin-top: 60px;
    }
    &__top-nav {
        display: flex;
        justify-content: flex-end;
        padding: 25px 20px;
        &__link {
            position: relative;
        }
        &__logout-tooltip {
            position: absolute;
            top: 130%;
            border: 1px solid $border-grey;
            color: $text-grey;
            padding: 10px;
            text-align: center;
            width: 120%;
            right: 0;
            border-radius: $standard-tooltip-border-radius;
            cursor: default;
            display: none;
            &#{&}--active {
                display: block;
            }
        }
    }
    &__profile {
        padding: 0 25px;
        @include media(">=tablet") {
            display: flex;
            padding: 0;
            justify-content: space-between;
            padding-left: $desktop-profile-pic-size + 45px;
            position: relative;
        }
    }
    &__profile-pic {
        margin: 0 auto;
        width: $mobile-profile-pic-size;
        height: $mobile-profile-pic-size;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        @include media(">=tablet") {
            margin: 0 22px;
            width: $desktop-profile-pic-size;
            height: $desktop-profile-pic-size;
            position: absolute;
            left: 0;
            bottom: -35px;
            z-index: 1;
        }
    }
    &__profile-name {
        margin: 20px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        @include media(">=tablet") {
            font-size: 18px;
            margin: 0 0 8px 0;
        }
    }
    &__contact,
    &__review-wrapper,
    &__followers-wrapper {
        color: $text-grey;
        @include media(">=tablet") {
            font-size: 12px;
        }
    }
    &__contact {
        @include media(">=tablet") {
            display: flex;
            flex-direction: column;
        }
    }
    &__contact-child {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        @include media(">=tablet") {
            margin-bottom: 4px;
            &:nth-child(1) {
                order: 1;
            }
        }
    }
    &__contact-icon {
        font-size: 20px;
        margin-right: 10px;
        color: $text-grey-light;
    }
    &__ratings {
        color: $primary-color;
        font-size: 24px;
        @include media(">=tablet") {
            font-size: 18px;
            color: $text-grey;
            margin-right: 20px;
        }
    }
    &__review-wrapper {
        @include media(">=tablet") {
            padding-right: 20px;
            flex: 1 1 0;
            justify-content: flex-end;
            display: flex;
        }
    }
    &__review {
        margin-top: 5px;
        display: flex;
        align-items: center;
        @include media(">=tablet") {
            align-items: flex-start;
            margin-top: 0;
            font-size: 12px;
            margin-top: 4px;
        }
    }
    &__followers-wrapper {
        margin-top: 25px;
        display: flex;
        align-items: center;
        @include media(">=tablet") {
            position: absolute;
            top: 100%;
            right: 20px;
            margin-top: 17px;
            z-index: 1;
        }
        &:hover {
            .profile-header__followers-tooptip {
                display: block;
            }
        }
    }
    &__follow-button {
        padding: 0;
        background: none;
        border: none;
        font-size: 28px;
        color: $text-grey-light;
        margin-right: 10px;
        @include media(">=tablet") {
            font-size: 22px;
        }
    }
    &__followers-tooptip {
        display: none;
        position: absolute;
        bottom: 120%;
        border: 1px solid $border-grey;
        padding: 10px;
        text-align: center;
        border-radius: $standard-tooltip-border-radius;
        width: 120%;
        right: 0;
        background: #fff;
    }
    &__count {
        color: $text-default;
        font-size: 17px;
        margin-right: 9px;
        @include media(">=tablet") {
            color: inherit;
            font-size: inherit;
        }
    }
    &__nav {
        background: #fff;
        padding: 0 10px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: block;
        white-space: nowrap;
        -ms-overflow-style: none;
        overflow: visible;
        position: relative;
        @include media("<tablet") {
            overflow: auto;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        @include media(">=tablet") {
            margin-top: 5px;
            padding-left: $desktop-profile-pic-size + 45px;
            padding-right: 140px;
            justify-content: flex-start;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
        }
    }
    &__nav-gradient-left,
    &__nav-gradient-right {
        position: absolute;
        height: 100%;
        width: 20%;
    }
    &__nav-gradient-left {
        left: 0;
        background: linear-gradient(to left, transparent, transparentize(#fff, 0.5), #fff);
    }
    &__nav-gradient-right {
        right: 0;
        background: linear-gradient(to right, transparent, transparentize(#fff, 0.5), #fff);
    }
    &__nav-item {
        padding: 0 11px;
        position: absolute;
        left: 100000px;
        top: -100000px;
        &--visible {
            display: inline-flex;
            position: static;
        }
        @include media("<tablet") {
            &,
            &--visible {
                display: inline-flex;
                position: static;
            }
        }
    }
    &__nav-more {
        padding: 13px 11px;
        display: inline-flex;
        cursor: pointer;
        position: relative;
        &:hover {
            .profile-header__nav-more-dropdown {
                display: flex;
            }
        }
        @include media("<tablet") {
            display: none;
        }
    }
    &__nav-more-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border: 1px solid $border-grey;
        padding: 8px 0px;
        flex-direction: column;
        flex-flow: column-reverse;
        &__item {
            display: block;
            padding: 6px 11px;
            color: inherit;
            text-decoration: none;
            &:hover {
                background: $button-background-grey;
            }
        }
    }
    &__nav-link {
        font-size: 16px;
        padding: 20px 0 15px 0;
        color: $text-default;
        text-decoration: none;
        @include media(">=tablet") {
            font-size: 14px;
            padding: 15px 0 13px;
        }
    }
    &__nav-link--active {
        border-bottom: 2px solid $primary-color;
    }
    &__upload-cover {
        display: none;
        @include media(">=tablet") {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
    &__upload-cover-btn {
        border: 1px solid $text-grey-super-light;
        border-radius: 2px;
        background: none;
        padding: 6px 15px;
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    &__upload-cover-btn-icon {
        color: $text-grey-super-light;
        font-size: 22px;
        margin-right: 15px;
    }
    &__upload-cover-btn-text {
        color: $text-grey;
    }
}