.tab-content {
    background: #fff;
    margin-top: 20px;
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    padding: 30px 25px;
    margin-bottom: 40px;
    min-height: 300px;
    @include media(">=tablet") {
        min-height: 400px;
    }
    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        color: $text-grey-light;
        margin: 0;
        font-size: 24px;
        font-weight: normal;
    }
    &__mobile-edit-actions {
        &.tab-content__mobile-edit-actions--default {
            .tab-content__mobile-edit-btns {
                display: none;
            }
        }
        &.tab-content__mobile-edit-actions--editing {
            .tab-content__mobile-edit-icon {
                display: none;
            }
        }
    }
    &__mobile-edit-icon {
        color: $text-grey;
        background-color: $button-background-grey;
        border: none;
        font-size: 18px;
        padding: 4px 9px 3px;
    }
    &__mobile-edit-btn {
        border: none;
        background: none;
        color: $primary-color;
        font-size: 17px;
    }
}