.clearfix {
    overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.hidden {
    display: none !important;
    &-d {
        @include media(">=desktop") {
            display: none !important;
        }
    }
    &-t {
        @include media(">=tablet", "<desktop") {
            display: none !important;
        }
    }
    &-m {
        @include media("<tablet") {
            display: none !important;
        }
    }
    &-t-m {
        @extend .hidden-m;
        @extend .hidden-t;
    }
}