// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
//
// for "include-media" mixin
$breakpoints: ( phone: $screen-phone, tablet: $screen-tablet, desktop: $screen-desktop, largeDesktop: $screen-lg-desktop);
// color
$primary-color: #007ee5;
$text-default: #404549;
$text-grey: #717479;
$text-grey-light: #9b9fa0;
$text-grey-lighter: #a6b0b9;
$text-grey-super-light: #d2dce6;
$border-grey: #d0dce8;
$button-background-grey:#ecf1f5;
// size
$mobile-profile-pic-size: 160px;
$desktop-profile-pic-size: 140px;
$standard-tooltip-border-radius: 10px;