.tab-content-about {
    padding-top: 20px;
    padding-bottom: 40px;
    &__name {
        margin: 0 0 20px;
        font-size: 20px;
        font-weight: 500;
    }
    &__info-rows {
        margin-left: 5px;
    }
    &__info-row {
        display: flex;
        align-items: center;
        margin-top: 15px;
        @include media(">=tablet") {
            margin-top: 2px;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
        }
    }
    &__info-icon-value-wrapper {
        display: flex;
        align-items: center;
        background-color: #f6f7f9;
        padding: 5px;
    }
    &__info-icon {
        color: $text-grey-light;
        margin-right: 10px;
        font-size: 22px;
        @include media(">=tablet") {
            margin-right: 8px;
            font-size: 17px;
        }
    }
    &__info-value {
        &#{&}--bold {
            font-weight: bold;
        }
    }
    &__info-value-link,
    &__info-value-span {
        color: $text-default;
        text-decoration: none;
        font-size: 16px;
        @include media(">=tablet") {
            font-size: 12px;
        }
    }
    &__info-value-span {
        &#{&}--font-size-13 {
            font-size: 13px;
        }
    }
    &__info-btn-edit {
        background: $button-background-grey;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        cursor: pointer;
        color: $text-grey-light;
        &:hover,&:focus,&:active {
            background: $primary-color;
            color: #fff;
        }
    }
    &--editing {
        & &-hidden {
            display: none;
        }
    }
    &--default {
        & &-hidden {
            display: none;
        }
    }
}